name: Frontend CI

on:
  push:
    branches: [ "ani-code-refector" ]
  pull_request:
    branches: [ "ani-code-refector" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Frontend Image
      run: docker build . -t ems-frontend
